* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.hidden {
	display: none !important;
} 

.lista {
	list-style-type: none;
}

/*sida 1 meny*/
#meny {
	background-color: #489078;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2em;
	padding-top: 2em;
	width: 100vw;
}
h2 {
	color: #EEEEEE;
	display: flex;
	text-align: start;
	
}
ul#menu-items {
	background-color: #605858;
	margin-bottom: 2em;
	margin-top: 1em;
}

ul#menu-items-dip {
	background-color: #605858;
	margin-bottom: 2em;
	
}
ul#menu-items-drink {
	background-color: #605858;
	margin-bottom: 2em;
}

#menu-items > *, #menu-items-dip > *, #menu-items-drink > * {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style-type: none;
	font-weight: bold;
	background-color: #605858;
	width: 24em;
	transition: all 0.3s ease;
	padding: 0.7em 1.2em;
	box-shadow: inset 0em 0em 0.1em gray;
	color: #EEEEEE; 
}


#menu-items > *:hover, #menu-items-dip > *:hover, #menu-items-drink > *:hover {
	transform: scale(1.005);
	transition: 0.3s ease-in-out;
	background-color: #454141;
}


/* sida 2 ditt köp*/
#cartpage {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #EEEEEE;
	color: black;
}
.cartpage:hover {
	transform: scale(1.005);
	transition: 0.3s ease-in-out;
	background-color: rgb(254, 254, 254);		
}

.cart-frame {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.2em 1em;
	margin-top: 2em;
	width: 100vw
}

li, #cart-items > * {
	background-color: #EEEEEE;
	color: black;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-weight: bold;
	box-shadow: inset 0em 0em 0.1em gray;
	transition: all 0.3s ease;
	padding: 1em;
	width: 24em;
}
li:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}
.quantity {
	font-size: small;
}
button {
	background-color: rgb(207, 206, 206); 
	border: none;
	border-radius: 100%;
	padding: 0.1em 0.35em;
}
.quantity-buttons {
	display: flex;
	gap: 0.4em;
	padding: 0.3em 0em;
}

/* sida 3 din beställning*/
#your-order {
	background-color: #605858; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}
.span {
	background-color: rgb(220, 73, 73);
	color: white;
	border-radius: 100%;
	width: 1em;
	height: 1em;
	text-align: center;
	position: relative;
	left: 16.6em;
	top: 2em;
	padding: 1px;
}

#cart {
	width: 2.5em;
	height: 2.5em;
	background-color: #EEEEEE;
	border-radius: 0.2em;
	display: flex;
	position: relative;
	left: 15em;
	margin-top: 1.8em;
	cursor: pointer;
}
#cart:hover{
	background-color: #e3e3e3;
}
#cart-order {
	width: 2.5em;
	height: 2.5em;
	background-color: #EEEEEE;
	border-radius: 0.2em;
	display: flex;
	position: relative;
	left: 37em;
	margin-top: 1.8em;
	cursor: pointer;
}
#cart-order:hover{
	background-color: #e3e3e3;
}

#count-order {
	background-color: rgb(220, 73, 73);
	color: white;
	border-radius: 100%;
	width: 1em;
	height: 1em;
	text-align: center;
	position: relative;
	left: 38.5em;
	bottom: 3.1em;
	padding: 4px;
}

.button-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	
}
.totally-left {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	justify-items: flex-start;
	margin-right: 20em;
}
.totally-right{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.total {
	padding: 0.9em 5.9em;
	border-radius: 0.2em;
	background-color: #3531313d;
	margin-bottom: 1em;
	margin-top: 1em;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 24em;
	
}
.sum {
	font-weight: bold;
	display: flex;
	justify-self: end;
	justify-content: flex-end;
	align-items: center;
	white-space: nowrap;
}
.moms {
	font-weight: bold;
	font-size: xx-small;
}

.take-button {
	display: flex;
	padding: 1.1em 18.3em;
	border-radius: 0.2em;
	cursor: pointer;
	font-weight: bold;
	background-color: #353131;
	color: rgb(242, 242, 242);
	margin-bottom: 1em;
	max-width: 24em;
	justify-content: center;
	
}

img {
	width: 26em;
	height: 22em;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-top: 10em;
	
}
.cooking-text, .eat-text, .code-text {
	text-align: center;
	color: #EEEEEE;
	
}
.cooking-text{
	padding: 1em;
}  
.eat-text {
	padding: 1em;
	font-weight: bold;
}
.code-text{
	padding-top: 1.3em;
	padding-bottom: 4em;
	font-weight: bold;
}
.reciet-logo {
	width: 4em;
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	
}
.kvitto-frame {
	border: 1px solid #EEEEEE;
	border-radius: 0.4em;
	text-align: center;
}
#kvitto-button {
	padding: 1em 12em;
	font-weight: bold;
	background-color: #605858; 
	color: white;
	border-radius: 0.4em;
	cursor: pointer;
}
.order-frame {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	
}
#order {
	padding: 1.3em 8.5em;
	font-weight: bold;
	margin-top: 1em;
	background-color: rgb(11, 11, 11);
	color:  #EEEEEE;
	border-radius: 0.4em;
	cursor: pointer;
}
.reciet-order-frame {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
	
}
#order-recietpage {
	padding: 1.3em 8.5em;
	font-weight: bold;
	margin-top: 1em;
	background-color: rgb(11, 11, 11);
	color:  #EEEEEE;
	border-radius: 0.4em;
	cursor: pointer;
	
}
#recietpage {
	background-color: #605858; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	
}
.reciet-frame {
	background-color: #EEEEEE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
	
	border-radius: 0.3em;
	box-shadow: 0em 0em 0.1em gray;
	width: 24em;
	
}

.order-list {
	background-color: #EEEEEE;
	margin-bottom: 1em;
	padding: 1em;
	padding-top: 0em;
	width: 24em;
   
}
.order-id {
	text-align: center;
	color: black;
	border-radius: 0.4em;
	padding: 1em 2em;
	font-weight: bold;
	font-size: 0.8em;
	color: rgb(109, 108, 108);
	margin-bottom: 1em;
}
.reciet-header {
	color: black;
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
	margin-top: 0.7em;
}

.reciet-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.2em;

}
.reciet-name {
    flex: 0 1 auto;
	font-weight: bold;
}
.reciet-dots {
    flex: 1 1 auto;
    border-bottom: 2px dotted #333;
    margin: 0 0.5em;
    height: 0.7em;
}
.reciet-price {
    flex: 0 1 auto;
    white-space: nowrap;
	font-weight: bold;
}
.reciet-quantity {
   
    margin-bottom: 0.5em;
	text-align: left;      
    display: block; 
	align-self: flex-start;
}

@media (min-width: 390px) {
	#meny {
		width: 100vw;
		display: flex;
	}
	
	#cart {
		position: relative;
		left: 10em;
		top: 0em;
	}
	.span {
		position: relative;
		left: 11.8em;
		top: -3.3em;
		width: 1.2em;
		height: 1.2em;
	}
	.cart-frame {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.2em 1em;
		margin-top: 4em;
		width: 100vw
	}
	
	#cart-items > * {
		color: black;
		list-style-type: none;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		font-weight: bold;
		box-shadow: inset 0em 0em 0.1em gray;
		transition: all 0.3s ease;
		padding: 1em;
		width: 24em;
	}
	#cart-order {
		width: 2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 21.6em;
		
		cursor: pointer;
	}
	
	.take-button {
		display: flex;
		padding: 0.8em 14.5em;
		border-radius: 0.2em;
		cursor: pointer;
		font-weight: bold;
		background-color: #353131;
		color: rgb(242, 242, 242);
		margin-bottom: 1em;
		width: 24em;
	}
	.total {
		padding: 0.9em 5.9em;
		border-radius: 0.2em;
		background-color: #3531313D;
		margin-bottom: 1em;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.button-frame {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 15em;
		
	}
	.totally-left {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		justify-items: flex-start;
		margin-right: 16em;
		
	}
	.totally-right{
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		
	}
	#kvitto-button {
		padding: 1em 10em;
		font-weight: bold;
		background-color: #605858; 
		color: white;
		border-radius: 0.4em;
		cursor: pointer;
	}
	#order {
		padding: 1.3em 6.5em;
		font-weight: bold;
		margin-top: 1em;
		background-color: rgb(11, 11, 11);
		color:  #EEEEEE;
		border-radius: 0.4em;
		cursor: pointer;
	}
}
@media (min-width: 440px) {
	#cart-order {
		width: 2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 23.6em;
		cursor: pointer;
	}
}
@media (min-width: 500px) {
	#cart-order {
		width: 2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 27em;
		cursor: pointer;
		
	}
	.take-button {
		display: flex;
		padding: 0.8em 14.5em;
		border-radius: 0.2em;
		cursor: pointer;
		font-weight: bold;
		background-color: #353131;
		color: rgb(242, 242, 242);
		margin-bottom: 1em;
		width: 24em;
	}
	#kvitto-button {
		padding: 1em 12em;
		font-weight: bold;
		background-color: #605858; 
		color: white;
		border-radius: 0.4em;
		cursor: pointer;
	}
	#order {
		padding: 1.3em 8.5em;
		font-weight: bold;
		margin-top: 1em;
		background-color: rgb(11, 11, 11);
		color:  #EEEEEE;
		border-radius: 0.4em;
		cursor: pointer;
	}
}
@media (min-width: 620px) {
	#cart-order {
		width: 2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 29em;
		cursor: pointer;
		
	}
}
@media (min-width: 670px) {
	#cart-order {
		width: 2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 31em;
		cursor: pointer;
		
	}
}
@media (min-width: 750px) {
	#cart-order {
		width:2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 34em;
		cursor: pointer;
		
	}
}
@media (min-width: 800px) {
	#cart-order {
		width:2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 36em;
		cursor: pointer;
	}	
}
@media (min-width: 900px) {
	#cart-order {
		width:2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 39em;
		cursor: pointer;
	}
}
@media (min-width: 1000px) {
	#cart-order {
		width:2.5em;
		height: 2.5em;
		background-color: #EEEEEE;
		border-radius: 0.2em;
		display: flex;
		position: relative;
		left: 42em;
		cursor: pointer;
	}
}
@media (min-width: 1100px) {
	#cart-order {
		display: flex;
		position: relative;
		left: 45em;
	}
}
@media (min-width: 1250px) {
	#cart-order {
		display: flex;
		position: relative;
		left: 49em;
	}
}
@media (min-width: 1500px) {
	#cart-order {
		display: flex;
		position: relative;
		left: 58em;
	}
}